<div class="main-layout">

    <app-sidebar-remitos (itemsProcesados)="onItemsProcesados($event)" (procesarRemitoStart)="onCargarRemitoStart()"
        (procesarRemitoEnd)="onCargarRemitoEnd()"></app-sidebar-remitos>
    <app-tabla-remitos [itemsData]="items" (cargarRemitoStart)="onCargarRemitoStart()"
        (cargarRemitoEnd)="onCargarRemitoEnd()"></app-tabla-remitos>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
</div>